<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Legacy Redirects used to fix GSC 404s
  RewriteRule ^wp-content/.*$ / [R=301,L]
  RewriteRule ^wp-includes/.*$ / [R=301,L]
  RewriteRule ^wp-admin/.*$ / [R=301,L]
  RewriteRule ^wp-.*\.php$ / [R=301,L]
  RewriteRule ^author/.*$ / [R=301,L]
  RewriteRule ^kripto-para/.*$ / [R=301,L]
  
  # Force trailing slash
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
